### Nivell 1: exercici 1
Descarrega el data set Airlines Delay: Airline on-time statistics and delay causes i carrega’l a un pandas Dataframe. Explora les dades que conté, i queda’t únicament amb les columnes que consideris rellevants.

In [1]:
!pip install pandas
import pandas as pd
import numpy as np

Requirement already satisfied: pandas in c:\users\uri\anaconda3\lib\site-packages (1.2.4)
Requirement already satisfied: pytz>=2017.3 in c:\users\uri\anaconda3\lib\site-packages (from pandas) (2020.1)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\uri\anaconda3\lib\site-packages (from pandas) (2.8.1)
Requirement already satisfied: numpy>=1.16.5 in c:\users\uri\anaconda3\lib\site-packages (from pandas) (1.19.2)
Requirement already satisfied: six>=1.5 in c:\users\uri\anaconda3\lib\site-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)

In [2]:
dly_flights = pd.read_csv('DelayedFlights.csv')
#Amb .shape podem saber quantes files i columnes conté el data set
dly_flights.shape

#Eliminem la columna Unnamed, ja que no ens aporta cap dada rellevant
temp_df = dly_flights.drop(['Unnamed: 0'], axis=1)

#També podem obtenir quants valors nuls presenta cada columna i eliminem aquelles columnes que en presenten molts
temp_df.isnull().sum()
temp_df = temp_df.drop(['CarrierDelay','WeatherDelay', 'NASDelay','SecurityDelay', 'LateAircraftDelay'], axis=1)

In [3]:
#Finalment ens quedem amb aquelles columnes més rellevants per nosaltres i per el que ens demana l'exercici:
final_df = temp_df[['Year', 'Month', 'DayofMonth','UniqueCarrier', 'FlightNum', 'AirTime', 'ArrDelay', 'DepDelay', 'Origin', 'Dest', 'Distance' ]]

### Exercici 2
Fes un informe complet del data set:.

    Resumeix estadísticament les columnes d’interès
    Troba quantes dades faltants hi ha per columna
    Crea columnes noves (velocitat mitjana del vol, si ha arribat tard o no...)
    Taula de les aerolínies amb més endarreriments acumulats
    Quins són els vols més llargs? I els més endarrerits?
    Etc.

In [4]:
#Amb .describe() obtenim un resum estadístic per cada columna: 
#nº de dades, mitjana, desviació std, percentils 25, 50(mediana) i 75, min i max. 
final_df.describe()

,Year,Month,DayofMonth,FlightNum,AirTime,ArrDelay,DepDelay,Distance
count,1936758.0,1.936758e+06,1.936758e+06,1.936758e+06,1.928371e+06,1.928371e+06,1.936758e+06,1.936758e+06
mean,2008.0,6.111106e+00,1.575347e+01,2.184263e+03,1.082771e+02,4.219988e+01,4.318518e+01,7.656862e+02
std,0.0,3.482546e+00,8.776272e+00,1.944702e+03,6.864261e+01,5.678472e+01,5.340250e+01,5.744797e+02
min,2008.0,1.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,-1.090000e+02,6.000000e+00,1.100000e+01
25%,2008.0,3.000000e+00,8.000000e+00,6.100000e+02,5.800000e+01,9.000000e+00,1.200000e+01,3.380000e+02
50%,2008.0,6.000000e+00,1.600000e+01,1.543000e+03,9.000000e+01,2.400000e+01,2.400000e+01,6.060000e+02
75%,2008.0,9.000000e+00,2.300000e+01,3.422000e+03,1.370000e+02,5.600000e+01,5.300000e+01,9.980000e+02
max,2008.0,1.200000e+01,3.100000e+01,9.742000e+03,1.091000e+03,2.461000e+03,2.467000e+03,4.962000e+03

In [5]:
#dades nul·les per columna:
final_df.isnull().sum()

Year                0
Month               0
DayofMonth          0
UniqueCarrier       0
FlightNum           0
AirTime          8387
ArrDelay         8387
DepDelay            0
Origin              0
Dest                0
Distance            0
dtype: int64

In [6]:
#A continuació eliminem aquelles files que presenten dades nul·les per alguna columna
final_df = final_df.dropna()
final_df.isnull().sum()

Year             0
Month            0
DayofMonth       0
UniqueCarrier    0
FlightNum        0
AirTime          0
ArrDelay         0
DepDelay         0
Origin           0
Dest             0
Distance         0
dtype: int64

In [40]:
#CREACIÓ DE NOVES COLUMNES
#Primer extreiem en variables les columnes que utilitzarem per crear-ne de noves, passem milles a km i min a h
air_time = final_df['AirTime']/60
distance = final_df['Distance']*1.61
#Afegim la columna de velocitat mitja
final_df['Speed(Km/h)'] = distance/air_time

#Per determinar si un vol arriba tard o no definim la següent funció i l'apliquem a la columna ArrDelay
#Es crearà una nova columna amb 0(no delay) i 1(delay)
def tard(x):
    if x <= 0:
        return 0
    else:
        return 1
final_df['ArrDelay(Y/N)'] = final_df['ArrDelay'].apply(tard)

final_df.head(10)

,Year,Month,DayofMonth,UniqueCarrier,FlightNum,AirTime,ArrDelay,DepDelay,Origin,Dest,Distance,Speed(Km/h),ArrDelay(Y/N)
0,2008,1,3,WN,335,116.0,-14.0,8.0,IAD,TPA,810,674.534483,0
1,2008,1,3,WN,3231,113.0,2.0,19.0,IAD,TPA,810,692.442478,1
2,2008,1,3,WN,448,76.0,14.0,8.0,IND,BWI,515,654.592105,1
3,2008,1,3,WN,3920,77.0,34.0,34.0,IND,BWI,515,646.090909,1
4,2008,1,3,WN,378,87.0,11.0,25.0,IND,JAX,688,763.917241,1
5,2008,1,3,WN,509,230.0,57.0,67.0,IND,LAS,1591,668.220000,1
6,2008,1,3,WN,100,106.0,1.0,6.0,IND,MCO,828,754.573585,1
7,2008,1,3,WN,1333,107.0,80.0,94.0,IND,MCO,828,747.521495,1
8,2008,1,3,WN,2272,37.0,11.0,9.0,IND,MDW,162,422.951351,1
9,2008,1,3,WN,675,213.0,15.0,27.0,IND,PHX,1489,675.292958,1

In [73]:
#AEROLíNIES AMB MÉS ENDARRERIMENTS:
#Aquí he considerat com endarreriment aquells vols que arriben amb retràs independentment de la seva sortida:
#Generem diferents grups segons el codi(UniqueCarrier) de l'aerolínia
airlines = final_df.groupby('UniqueCarrier')

#A continuació iterem per els diferents grups generats i declarem 2 llistes que contindrà, 1 el codi de l'aerolínia
#i l'altra el total de vols endarrerits per cada aerolínea
tot_delay = []
airline_code = []
for airline, group in airlines:
    delay = sum(group['ArrDelay(Y/N)'])
    tot_delay.append(delay)
    airline_code.append(airline)

#Amb les dades obtingudes anteriorment, generem un nou data frame i l'ordenem per el nº d'endarreriments     
df = pd.DataFrame({'Airline': airline_code, 'TotDelyFlights': tot_delay})
df = df.sort_values('TotDelyFlights',ascending=False)
df

   Airline  TotDelyFlights
17      WN          324717
1       AA          172197
11      MQ          130647
15      UA          123989
14      OO          121942
6       DL          100923
18      XE           94313
5       CO           83646
16      US           83262
7       EV           75170
12      NW           72395
9       FL           65008
19      YV           63289
13      OH           49104
4       B6           48177
0       9E           46896
3       AS           34179
8       F9           25708
10      HA            7199
2       AQ             654

In [74]:
#VOLS MÉS LLARGS:
#Creem una nova columna que conté l'origen i el destí
final_df['Route'] = final_df['Origin'] + '-' + final_df['Dest']
#Generem diferents grups segons les diferents rutes existents i seguim la metodologia de l'exercici anterior
routes = final_df.groupby('Route')

ori_dest = []
distances = []
for route, group in routes:
    ori_dest.append(route)
    distances.append(group['Distance'].agg(np.mean))

distances_df = pd.DataFrame({'Route': ori_dest, 'Distance': distances})
distances_df = distances_df.sort_values('Distance',ascending=False)
distances_df.head(10)

        Route  Distance
1710  EWR-HNL    4962.0
2011  HNL-EWR    4962.0
2008  HNL-ATL    4502.0
203   ATL-HNL    4502.0
3692  ORD-HNL    4243.0
2021  HNL-ORD    4243.0
2491  KOA-ORD    4213.0
3729  ORD-OGG    4184.0
3366  MSP-HNL    3972.0
2018  HNL-MSP    3972.0

In [75]:
#VOLS MÉS ENDARRERITS:
ori_dest = []
delays = []
for route, group in routes:
    ori_dest.append(route)
    delays.append(sum(group['ArrDelay(Y/N)']))

delays_df = pd.DataFrame({'Route': ori_dest, 'TotDelyFlights': delays})
delays_df = delays_df.sort_values('TotDelyFlights',ascending=False)
delays_df.head(10)

        Route  TotDelyFlights
2670  LAX-SFO            4271
3707  ORD-LGA            3902
4544  SFO-LAX            3703
222   ATL-LGA            3597
2547  LAS-LAX            3153
2038  HOU-DAL            3070
2749  LGA-ORD            3019
1150  DAL-HOU            2970
3983  PHX-LAS            2968
3676  ORD-EWR            2958

### Exercici 3
Exporta el data set net i amb les noves columnes a Excel.

In [78]:
#Si ho intento exportar com un Excel em diu que el data set és massa gran. 
final_df.to_csv('delayed_flights_updated.csv')